.intro {
  position: relative;
  height: 0.5%;
  width: 100%
}

.title {
  position: absolute;
  top: 30px;
  width: 50%;
  left:400px;
}

.title span {
  color: white;
  font: bold 45px Helvetiva, Sans-Serif;
  padding: 10px;
  background:rgba(0, 0, 0,0.7);
}

.box {
  text-align: center;
}



.law {
  border-collapse:collapse;
}

.row {
  border-bottom: 2px solid #D8FCBA;
  border-left: 2px solid #D8FCBA;
}

select  {
    overflow: hidden;
    height: 50px;
    width: 350px;
    margin-right: 10px;
    font-size: 20px;
}
.crime {

padding: 0 0 0 80px;
}

.location {
  padding: 0 0 0 70px;
}

select optgroup {
  font-size: 20px
}

.buttonerdsf {
  height: 50px;
  width: 200px;
  margin-left: 600px;
  background-color: black;
  color: white;
  border: 2px solid #D8FCBA;

}

.buttoncool {
  height: 50px;
  width: 200px;
  background-color: black;
  color: white;
  border: 2px solid #D8FCBA;
}
padding: 0 0 0 80px;
}

.location {
  padding: 0 0 0 70px;
}

select optgroup {
  font-size: 20px
}

button {
  height: 50px;
  width: 200px;
  margin-left: 800px;
  background-color: black;
  color: white;
  border: 2px solid #D8FCBA;

}
